/**
* Lightbox
*/
#lightbox{
border-radius: 20px;
border-width: 8px;
overflow: visible;
width: 70%;
height: 70%; 
background-color: white;
border-color: black;

}

#lightbox[open] {
    animation: showLightbox 0.5s ease-out forwards;

}

::backdrop{
    background-color: grey;
opacity: 0.9;
}


#lightbox img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 20px;
}

#close-lightbox{
    position: absolute;
   background-color: black;
    cursor: pointer;
    left: 98.8%;
    bottom: 97.5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
   border-color: white;
}

@keyframes showLightbox {
    0% {
        transform:  scale(0);
    }
    100% {
        transform:  scale(1);
    }
}